body {
  margin: 0px;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 300px;
  margin: auto;
  padding: 20px;
}

.card {
  text-decoration: none;
  display: block;
  margin-bottom: 24px;
  position: relative;
  color: #504f5e;
}

.card img {
  display:block;
  border-radius: 5px;
  max-width: 100%;
  border: 0px;
}

.card-body {
  padding-top: 4px;
}

.card-title {
  margin-top: 0px;
  margin-bottom: 12px;
}

.card-subtitle {
  margin-top: -6px;
  margin-bottom: 8px;
}
